h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.app {
  margin-top: 114px
}

.dynamicPets{
  display: flex;
}

.geneTestForm {
  position: fixed;
  z-index: 1000;
}

.about-page {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}